				<div class="col-sm-12 mysection">
				<hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2;" />
					<div class="col-sm-8 col-sm-offset-2">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
							<input type="search" id="searcher" placeholder="Search Locations.." name="" id="input" class="form-control nolight" value="" required="required" title="">
      						<span class="input-group-btn">
								<button class="btn btn-danger">SEARCH</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-ms-12">
					<div class="mapholder">
						<%= image_tag("map.png", :class => "map") %>
					</div>
				</div>

				<div class="col-sm-12 mysection" style="margin-bottom: 12px;">
					<div class="gocenter footertxt">
						<strong>Who Are We??</strong> <br>
						<em>We are Group of Three University Students in our second year, We study Computer Engineering in Alexandria University and we are the formal developer of this website. Honorly Here we are ;)<br><br></em>
					</div>
					<div class="col-md-3">
						<%= image_tag("person.png", :class => "person") %>
						<p class="gocenter">Mohamed Sharaf<br><i class="fa fa-facebook-official" aria-hidden="true"></i>
						<i class="fa fa-twitter-square" aria-hidden="true"></i></p>

					</div>
					<div class="col-md-3">
						<%= image_tag("person.png", :class => "person") %>
						<p class="gocenter">Merit Victor<br><i class="fa fa-facebook-official" aria-hidden="true"></i>
						<i class="fa fa-twitter-square" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-3">
						<%= image_tag("person.png", :class => "person") %>	
						<p class="gocenter">Hesham Medhat<br><i class="fa fa-facebook-official" aria-hidden="true"></i>
						<i class="fa fa-twitter-square" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-3">
						<%= image_tag("person.png", :class => "person") %>
						<p class="gocenter">Khaled Barie<br><i class="fa fa-facebook-official" aria-hidden="true"></i>
						<i class="fa fa-twitter-square" aria-hidden="true"></i></p>
					</div>
				</div>