

<div class="col-sm-12 mysection">
				<hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2; margin-top: -20px;" />
				<h1 class="title"><%= @user.name %></h1>
					<div class="col-sm-4">
					     <%= image_tag(@user.image.url(:large)) %>
					</div>
					<div class="col-sm-8">
						<div class="row">
							<span class="userInfo">E-mail: </span>
							<span class="hospitalTitlesInfo"><%= @user.email %></span>
						</div>
				</div>
</div>


<div class="col-sm-12">
				<h1 class="title">Reviews</h1>
				<% @reviews.each do |review| %>
				<hr>
				<ul class="list-inline">
				    <li>Review for: <strong><%= link_to review.hospital.name, review.hospital %> <%=  %></strong></li>
				    <br>
					<li><h3 class="form-control title" readonly, class="col-sm-4", style=color: black; background-color:#D2D2D2;><%= review.title %></h3></li>
					<li><label class="form-control title" readonly, class="col-sm-4"><%= review.rating %> / 5</label></li>
					</ul>
					<textarea class="form-control existReviewText title" readonly ><%= review.content %></textarea>
					
					<script src="autosize.min.js" type="text/javascript"></script>
					<script>autosize($('textarea'));</script>
					<br>
				<% end %>
</div>