<div class="col-sm-12 mysection">
  <hr style="width: 100%; color: black; height: 1px; background-color:#D2D2D2; margin-top: 0px;" />
  <div class="col-sm-8 col-lg-offset-2">
    <h2 class="title" style="text-size="150%">Hospital Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field col-sm-12">
    <%= f.label :email, :class=>"signTitle"%><br />
    <%= f.email_field :email, autofocus: true %>
    </div>
    
    <div class="field col-sm-12">
    <%= f.label :password, :class=>"signTitle" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    </div>
    
    <% if devise_mapping.rememberable? -%>
    <div class="field col-sm-12">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, :style=>"color=red;" %>
    </div>
    <% end -%>
    
    <div class="actions col-sm-12">
    <%= f.submit "Log in", :style=>"font-family: 'Lobster'; border-radius: 5px; height:40px; font-size: 125%;"%>
    </div>
    <% end %>
  </div>
</div>