<!DOCTYPE html>
<html>
  <head>
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HospitalFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    	<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>

  <body>
  
    <p class="navbar-text pull-right">
      
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    </p>
    
    <!--Hospital login-->
		    <p class="navbar-text pull-right">
		    hospital login
		<% if hospital_signed_in? %>
		  Logged in as <strong><%= current_hospital.email %></strong>.
		  <%= link_to 'Edit profile', edit_hospital_registration_path, :class => 'navbar-link' %> |
		  <%= link_to "Logout", destroy_hospital_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		  <%= link_to "Sign up", new_hospital_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "Login", new_hospital_session_path, :class => 'navbar-link'  %>
		<% end %>
		</p>
    
    
    
    
    
    
    		<div class="container">
    		  
    		  
    		  
    		
          
          <!-- other Modal working -->
          <div id="loginmodal2" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="jLDiGN9yWwH09BKL+5iS4jh4tzyRWp/L0uN9Z1R9Pic2Con1+O4t9OnpD8YXEV2m/xetHrMn4jcktXzIRpF2Wg==">
                                     
                                     
                                      <div class="field">
                                        <label for="user_email">Email</label><br>
                                        <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
                                      </div>
                                    
                                      <div class="field">
                                        <label for="user_password">Password</label><br>
                                        <input autocomplete="off" type="password" name="user[password]" id="user_password">
                                      </div>
                                    
                                        <div class="field">
                                          <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                                          <label for="user_remember_me">Remember me</label>
                                        </div>
                                    
                                      <div class="actions">
                                        <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
                                      </div>
                                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>
          
          <!--other signup modal-->
          
            <div id="signupmodal2" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                  
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true %>
                    </div>
                  
                    <div class="field">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>
                  
                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </div>
                  
                    <div class="actions">
                      <%= f.submit "Sign up" %>
                    </div>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
          </div>

    		  
    		  
			<div class="col-sm-8 col-sm-offset-2 mycontainer">
				<div class="col-sm-12 mysection first">
					<div class="col-sm-6">
						<div id="logo">
						  
							<%= image_tag("logo.png", :width => "250") %>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-6">
								<div class="btn-group">
								  
								  <% if user_signed_in? %>
								    <%= link_to 'Edit', edit_user_registration_path, :class => 'btn btn-success', :id => 'loginoutside' %>
								  <% else %>
									<a class="btn btn-success" id="loginoutside" data-toggle="modal" href='#loginmodal2'>Login</a>
									 <% end %>
									
									<div class="modal fade" id="loginmod">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<h4 class="modal-title">Login.</h4>
												</div>
												<div class="modal-body gocenter">
													<div class="login-form-1">
														<form id="login-form" class="text-left">
															<div class="login-form-main-message"></div>  
															<div class="main-login-form">
																<div class="login-group">
																  
																    <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="jLDiGN9yWwH09BKL+5iS4jh4tzyRWp/L0uN9Z1R9Pic2Con1+O4t9OnpD8YXEV2m/xetHrMn4jcktXzIRpF2Wg==">
                                     
                                     
                                      <div class="field">
                                        <label for="user_email">Email</label><br>
                                        <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
                                      </div>
                                    
                                      <div class="field">
                                        <label for="user_password">Password</label><br>
                                        <input autocomplete="off" type="password" name="user[password]" id="user_password">
                                      </div>
                                    
                                        <div class="field">
                                          <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                                          <label for="user_remember_me">Remember me</label>
                                        </div>
                                    
                                      <div class="actions">
                                        <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
                                      </div>
                                    </form>
																  
																  
																	<div class="form-group">
																		
																		<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
																	</div>
																	<div class="form-group">
																		<label for="lg_password" class="sr-only">Password</label>
																		<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
																	</div>
																	<div class="form-group login-group-checkbox">
																		<input type="checkbox" id="lg_remember" name="lg_remember">
																		<label for="lg_remember">remember</label>
																	</div>
																	
																	
																</div>
																<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
															</div>
															
															
															
															
															<div class="etc-login-form">
																<p>forgot your password? <a href="#" id="forgotpass">click here</a></p>
																<p>new user? <a href="#" id="signupInside">create new account</a></p>
															</div>
														</form>
													</div>
													<button type="button" id="closeLogin" class="btn btn-default hidden" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
									
									<% if user_signed_in? %>
									  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary', :id => 'registerbtn'  %>
									<% else %>
									  <a class="btn btn-primary" id="registerbtn" data-toggle="modal" href='#signupmodal2'>Signup</a>
									<% end %>
									
									<!--<div class="modal fade" id="signupmod">-->
									<!--	<div class="modal-dialog">-->
									<!--		<div class="modal-content">-->
									<!--			<div class="modal-header">-->
									<!--				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
									<!--				<h4 class="modal-title">Register</h4>-->
									<!--			</div>-->
									<!--			<div class="modal-body gocenter">-->
									<!--				<div class="login-form-1">-->
									<!--					<form id="register-form" class="text-left">-->
									<!--						<div class="login-form-main-message"></div>-->
									<!--						<div class="main-login-form">-->
									<!--							<div class="login-group">-->
									<!--								<div class="form-group">-->
									<!--									<label for="reg_username" class="sr-only">Email address</label>-->
									<!--									<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username">-->
									<!--								</div>-->
									<!--								<div class="form-group">-->
									<!--									<label for="reg_password" class="sr-only">Password</label>-->
									<!--									<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">-->
									<!--								</div>-->
									<!--								<div class="form-group">-->
									<!--									<label for="reg_password_confirm" class="sr-only">Password Confirm</label>-->
									<!--									<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">-->
									<!--								</div>-->
																	
									<!--								<div class="form-group">-->
									<!--									<label for="reg_email" class="sr-only">Email</label>-->
									<!--									<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">-->
									<!--								</div>-->
									<!--								<div class="form-group">-->
									<!--									<label for="reg_fullname" class="sr-only">Full Name</label>-->
									<!--									<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="full name">-->
									<!--								</div>-->
																	
									<!--								<div class="form-group login-group-checkbox">-->
									<!--									<input type="radio" class="" name="reg_gender" id="male" placeholder="username">-->
									<!--									<label for="male">male</label>-->
																		
									<!--									<input type="radio" class="" name="reg_gender" id="female" placeholder="username">-->
									<!--									<label for="female">female</label>-->
									<!--								</div>-->
																	
									<!--								<div class="form-group login-group-checkbox">-->
									<!--									<input type="checkbox" class="" id="reg_agree" name="reg_agree">-->
									<!--									<label for="reg_agree">i agree with <a href="#">terms</a></label>-->
									<!--								</div>-->
									<!--							</div>-->
									<!--							<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
									<!--						</div>-->
									<!--						<div class="etc-login-form">-->
									<!--							<p>already have an account? <a href="#" id="loginInside">login here</a></p>-->
									<!--						</div>-->
									<!--					</form>-->
									<!--					</div>-->
									<!--					<button type="button" class="btn btn-default hidden" id="closeregister" data-dismiss="modal">Close</button>-->
									<!--			</div>-->
									<!--		</div>-->
									<!--	</div>-->
									<!--</div>-->
									
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="btn btn-success hidden" id="resetpass" data-toggle="modal" href='#resetmod'>Login</a>
				<div class="modal fade" id="resetmod">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">ResetPassword.</h4>
							</div>
							<div class="modal-body gocenter">
								<div class="login-form-1">
									<form id="forgot-password-form" class="text-left">
										<div class="etc-login-form">
											<p>We will send you a ResetPassword Link.</p>
										</div>
										<div class="login-form-main-message"></div>
										<div class="main-login-form">
											<div class="login-group">
												<div class="form-group">
													<label for="fp_email" class="sr-only">Email address</label>
													<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
												</div>
											</div>
											<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
										</div>
										<div class="etc-login-form">
											<p>already have an account? <a href="#" id="resetologin">login here</a></p>
											<p>new user? <a href="#" id="resettoregister">create new account</a></p>
										</div>
									</form>
								</div>
								<button type="button" id="closereset" class="btn btn-default hidden" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				
				

		  	<%= yield %>
		  	
				<div class="panel panel-default" style="border-top-left-radius: 0; border-top-right-radius: 0;">
					<div class="panel-footer gocenter">
						All Copy Rights Are Reserved 2017
					</div>
				</div>
			</div>
		</div> 	
		
		
    
    <!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		
  </body>
</html>
